{% extends 'base.html.jinja' %}

{% block title%}
{{ super() }} - 首頁
{% endblock %}

{% block head%}
{{ super() }}
<style type"text/css">
    body {
        background-color:white;
    }
</style>
{% endblock %}


{% block main%}
<div class="container text-center">
    <div class="row">
        <div class="col-md-2 col-xl-3" style="background-color:beige">
        <form action="{{url_for('index')}}" method="get">
            <select class="form-select" aria-label="Default select example" name="area">
                <option selected>{{show_area}}</option>
                {% for area in areas %}
                    {% if area != show_area %}               
                        <option value="{{area}}">{{area}}</option>
                    {% endif %}          
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">送出</button>
        </form>
        </div>
        <div class="col-md-10 col-xl-9">
            <h3 style="text-align:left;margin-top:0.5em">{{show_area}}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">站名</th>
                    <th scope="col">平均氣溫</th>
                    <th scope="col">絕對最高氣溫</th>
                    <th scope="col">絕對最低氣溫</th>
                    <th scope="col">總日照時數h</th>
                    <th scope="col">總日射量MJ/m2</th>
                    <th scope="col">Year</th>
                    <th scope="col">Month</th>
                    <th scope="col">行政區</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sna in detail_snaes%}
                        <tr>
                            <th scope="row">{{sna[0]}}</th>
                            <td>{{sna[1]}}</td>
                            <td>{{sna[2]}}</td>
                            <td>{{sna[3]}}</td>
                            <td>{{sna[4]}}</td>
                            <td>{{sna[5]}}</td>
                            <td>{{sna[6]}}</td>
                            <td>{{sna[7]}}</td>
                            <td>{{sna[8]}}</td>
                            <td>{{sna[9]}}</td>
                            {% endif%}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </main>
    {% endblock %}
